<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.ParsianMovieDBConnectionString"
            connectionString="Data Source=COMPUTER252\SQLEXPRESS;Initial Catalog=ParsianMovieDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Common.Properties.Settings.ParsianMovieDBConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ParsianMovieDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>